@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
* {
  box-sizing: border-box;
}
.page-contain {
  display: flex;
  min-height: 5%;
  align-items: center;
  justify-content: center;
  padding: 5em;
  margin-bottom: -150px;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  width:500px;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: #DDE1E7;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
}
.data-card h3 {
  color: #333;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 4%;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #333;
}
.data-card p {
  text-align: justify;
  color: #333;
  font-weight: 600;
  line-height: 1.8;
  line-height: 2;
}
li{
  text-align: justify;
  color: #333;
  font-weight: 600;
  line-height: 1.8;
  line-height: 2;
}
@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
header{
  position: fixed;
  background: #333;
  width: 100%;
  height: 7%;
  top: 0;
  left: 0;
}
header::before{
  content: '';
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
@media only screen and (max-width:760px){

.data-card {
  display: flex;
  flex-direction: column;
  min-width: 21.75em;
  height: 90%;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: #DDE1E7;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
}
.data-card h3 {
  color: #333;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 4%;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #333;
}
.data-card p {
  text-align: justify;
  color: #333;
  font-weight: 400;
  line-height: 1.8;
  line-height: 1.5;
}
li{
  text-align: justify;
  color: #333;
  font-weight: 400;
  line-height: 2;
}
@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
header{
  position: fixed;
  background: #333;
  width: 100%;
  height: 9%;
  top: 0;
  left: 0;
}
header::before{
  content: '';
  position: absolute;
  left: 0;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
}
